.block {
  border: 2px solid #000;
  height: 120px;
  width: 120px;
  cursor: pointer;
  margin: 5px;
  border-radius: 15px;

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  font-weight: bold;
}

.board {
  padding: 20px;
  border: 4px solid #000;
  border-radius: 15px;
}

.row {
  display: flex;
}
